
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

        :root {
            --primary: #2d88ff;
            --dark: #18191a;
            --semi-dark: #242526;
            --soft-dark: #3a3b3c;
            --danger: #f02849;
            --success: #44b960;
            --warning: #dda728;
            --text: #b7b9bd;
            --text-light: #ffffff;
        }
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Source Sans Pro', sans-serif;
            color: var(--text);
        }
        body {
            background-color: var(--dark);
        }
        .nav {
            background-color: var(--semi-dark);
            /* height: 60px; */
            display: flex;
        }

        .left {
            width: 25%;
        }
        .left-box {
            display: flex;
            padding: 10px;
        }
        .logo {
            width: 40px;
            margin-right: 10px;
        }
        .search-box {
            background-color: var(--soft-dark);
            border-radius: 100px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
        }
        .search-box .feather-search {
            margin-right: 5px;
        }
        .search-input {
            color: var(--text);
            background-color: var(--soft-dark);
            border: none;
        }
        .search-input:focus {
            outline: none;
        }

        /* center */
        .center {
            width: 50%;
        }
        .center-box {
            display: flex;
            justify-content: center;
        }
        .center-link {
            display: flex;
            width: 120px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            border-bottom: 5px solid var(--semi-dark);
            border-top: 5px solid var(--semi-dark);
            position: relative;
            margin: 0px 5px;
            transition: 0.5s;
        }
        .center-link:hover {
            background-color: var(--soft-dark);
            border-radius: 15px;
        }
        .center-link.active {
            border-bottom-color: var(--primary);
        }
        .center-link.active:hover {
            background-color: var(--soft-dark);
            border-radius: 0px;
        }
        .center-link.active .center-icon {
            color: var(--primary) !important;
        }
        .center-icon {
            font-size: 30px;
        }
        .center-link .notification {
            background-color: var(--danger);
            padding: 4px 5px;
            border-radius: 14px;
            font-size: 10px;
            position: absolute;
            top: 0px;
            right: 20px;
            font-weight: 900;
            color: var(--text-light);
        }

        /* .right {} */
        .right-box {
            display: flex;
            justify-content: flex-end;
        }
        .profile {
            display: flex;
            align-items: center;
            margin: 10px;
            padding: 5px 10px;
            border-radius: 15px;
            transition: 0.5s;
        }
        .profile:hover {
            background-color: var(--soft-dark);
        }
        .profile-photo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .profile-text {
            color: var(--text);
            font-weight: bolder;
        }
        .right-notification-box {
            display: flex;
        }
        .right-notification {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--soft-dark);
            border-radius: 50%;
            margin: 10px 5px;
        }

        /* fb body */
        .fb-body {
            display: flex;
        }
        .left-aside {
            width: 25%;
        }
        .seelocate{
            padding:15px 20px;
        }
        .scatelist{
            display: flex;
            margin-top: 15px;
        }
        .scatelogo{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .scatetext{
            color: var(--text-light);
            font-size: 20px;
        }
        .seemore{
            background-color: var(--semi-dark);
            color: var(--text-light);
            height: 50px;
            padding: 10px 20px;
            width: 80%;
            display: flex;
            justify-content: center;
            margin: 10px;
            border-radius: 20px;
            font-size: 20px;
            text-align: center;

        }
        .smtext{
            margin-right: 10px;
            text-align: center;
        }
        .shdis{
            display: flex;
            padding:15px 20px;
        }
        .shimage{
            width: 30px;
            margin-right: 20px;
        }
        .shtextitle{

            color: var(--text-light);
            font-size: 20px;
        }








        .new-feed {
            width: 50%;
            overflow-y: scroll;
            height: 99vh;
            
        }
        .my-day-list {
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
        }
        .my-day-item {
            /* position:absolute; */
            width: 109px;
        }
        .my-Day {
            width: 100%;
            height: 190px;
            overflow: hidden;
            background-size: 130px 190px;
            background-position: center;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }
        .my-Day-Owner {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* .first{
           background-color: var(--semi-dark)!important;
        } */
        .my-Day-Owner.first {
            background-color: var(--semi-dark) !important;
        }
        .my-Day-Owner .feather-plus {
            width: 31px;
            height: 31px;
            border-radius: 50%;
            background-color: var(--dark) !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .my-day-ownerimg {
            width: 31px;
            height: 31px;
            border-radius: 50%;
            background-size: 100%;
            background-position: center;
        }
        .my-Day-Text {
            /* position: absolute; */
            bottom: 10px;
            color: var(--text-light);
            font-weight: bolder;
        }
        .scroll-my-day {
            width: 40px;
            height: 40px;
            background-color: var(--semi-dark);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 142px;
            right: 330px;
            /* z-index: 2; */
        }
        .add-post {
            margin-top: 20px;
            border-radius: 20px;
            background-color: var(--semi-dark);
            padding: 10px 20px;

        }
        .add-post-box{}
        .add-text{
            display: flex;
            justify-content: center;
            align-items: center;


        }
        .add-text-profile{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .add-text-box{
            background-color: var(--soft-dark);
            border-radius: 100px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            flex-grow: 1;
        }
        .divider{
            height: 1px;
            background-color: var(--soft-dark);
            margin:10px 0;
        }
        .add-file{
            display: flex;
            justify-content: space-between;
        }
        .add-file div{
            flex-grow: 1;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
        }
        .add-file div:hover{
            background-color: var(--soft-dark);
        }
        .add-file .video i{
            margin-right:5px;
            color: var(--danger);

        }
        .add-file .photo i{
            margin-right:5px;
            color: var(--success);

        }.add-file .emoji i{
            margin-right:5px;
            color: var(--warning);

        }

        .add-list {
            /* overflow-x: scroll; */
        }
        .post-list-item{
            width: 100%;
            height:850px;
            background-color: var(--semi-dark);
            margin-top: 10px;
        }
        .header{
            display: flex;
            justify-content: space-between;
        }
        .head-title{
            padding: 0px 20px;
            margin-top: 20px;
            height: 60px;
        }
        .myheadphoto{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .headname{
            color: var(--text-light);
            position: relative;
            top: -28px;
            right: -29px;
        }
        .menu{
            padding: 15px 20px;
            font-size: 20px;
            position: relative;
            top: 11px;
            right: 15px;
        }
        .title{
            padding: 0px 20px;
            color: var(--text);
        }
        .image{
            width: 100%;
            height: 600px;
            padding: 5px 20px;
        }
        .likebut{
            padding: 10px;
            color: var(--primary);
            margin-right: -1px;
            font-size: 22px;
        }
        .likecmdshare{
            font-size: 15px;
            display: flex;
            justify-content: space-around;
        }
        .comment-box{
            display:flex;
            padding:15px 20px;
        }
        .add-comment-box{
            background-color: var(--soft-dark);
            border-radius: 100px;
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%
        }
        .add-comment-profile{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 5px;

        }
        .write{
            color: var(--text);
            font-size: 20px;
        }
        .fea-icon{
            margin-left: 10px;
            font-size: 20px;
        }
        .chat-box {
            width: 25%;
            height: 99vh;
            overflow:scroll;          
        }
        .sponser{
           overflow-y: scroll;
            
        }
        .spon{
            color: var(--text-light);
            display: flex;
            margin-left: 20px;
            font-size: 20px;
        }
        .spondis{
            padding: 10px 20px;
            display: flex;
            /* margin: 20px; */

        }
        .simage{
            width:100px;
            border-radius: 10px;
            margin-right: 20px;
        }
        .spontext{
            display: flex;
        }
        .stext{
            color: var(--text);
        }
        .stextitle{
            color: var(--text-light);
            font-size: 20px;
            font-weight: bold;
        }
        .divider1{
            height: 2px;
            background-color: var(--soft-dark);
            margin: 15px 20px;

        }
        .yourpage{
            
        }
        .pagetitle{
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;

        }
        .pag{
            font-size: 20px;
        }
        .page{
            font-size: 20px;
            color: var(--text-light);
        }
        .pagedisplay{
            padding: 15px 20px;
            display: flex;
        }
        .dislogo{
            width: 40px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .dislogo1{
            font-size: 35px;
            margin-right: 23px;
        }
        .dispage{
            color: var(--text-light);
            font-size: 20px;
        }
        .birthday{
        }
        .btitle{
            color:var(--text-light);
            font-size: 20px;
            padding: 15px 20px;
        }
        .bdis{
            display: flex;
            padding: 15px 20px;
            margin-right: 20px;
        }
        .birlogo{
            color: var(--primary);
            font-size: 30px;
            margin-right: 10px;

        }
        .birtext{
            color: var(--text-light);
            font-size: 20px;
        }
        .chat{
            padding: 10px 20px;
        }
        .chatt{
            display: flex;
            justify-content: space-between;
        }
        .chtitle{
            font-size: 25px;
            font-weight: bold;
        }
        .chaticon{
            font-size: 20px;
            margin-left: 20px;
            font-weight: bolder;
        }
        .chatcontant{
            display: flex;
            padding-top: 10px;
        }
        .chatimage{
            width: 40px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .chatname{
            color:var(--text-light);
            font-size: 20px;
        }
